<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <!-- fix for overlapping navbar -->
    <style>
      body { padding-top: 70px; }
    </style>

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body class="bg-dark text-light">

    <!-- Navbar Greeting - Login/Logout    -->
    {% include 'nav.html' %}

    <!-- Flask Message Flashing    -->
    <div class="container">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
      {% endfor %}
    </div>

    <!-- Page Content    -->
    {% block content %}
    {% endblock %}
    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{url_for('static', filename='js/jquery-3.4.1.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
